@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --header-footer-border: rgba(0, 0, 0, 0.33);
  --button-primary: #5b5be9;
  --button-primary-border: #ffffff;
  --button-primary-hover: #3e3ed4;
  --background: #090911;
  --primary-text: #ffffff;
  --secondary-text: #090911;
  --primary-link: #b6b6ff;
  --primary-header: #e5e5fd;
  --panel-color-primary: #19192d;
  --panel-color-secondary: transparent;
  --panel-color-header: #5b5be9;
  --success: #44c044;
  --fail: #c04444;
    
  --paragraph-container-margin: 20px 20px 0 20px;
}

.correct {
    background-color: var(--success);
    padding: 0;
}

.wrong {
    background-color: var(--fail);
    padding: 0;
}

p,
div {
  font-family: 'PT Sans';
  font-size: 1.6rem;
  color: var(--primary-text);
}

a, a:visited {
    color: var(--primary-link);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend';
  color: var(--primary-header) !important;
}

.siteheader {
    border-bottom: none;
    margin-bottom: 15px;
}

.parContent:focus {
    box-shadow: none;
}

.paragraphs .parContent > h1 {
    border: none;
}

.panel-default {
  background-color: var(--panel-color-primary);
  color: var(--primary-text);
  border: none;
}

.panel-default > .panel-heading {
  background-color: var(--panel-color-header);
  color: var(--primary-text);
  border-color: var(--panel-color-primary);
  border-bottom: 1px solid var(--panel-color-primary);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-color: var(--panel-color-primary);
}

h1, h2, h3, h4, h5, h6,
button {
  font-family: 'Lexend' !important;
}

body {
  background: var(--background);
}

.material {
  background: none;
}

.timButton,
.btn {
  border-radius: 8px;
  transition: all 0.2s;
}

.timButton {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 30px;    
}
.timButton, .btn.btn-primary.dropdown-toggle {
  background: var(--button-primary);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timButton:hover, .btn.btn-primary:hover, .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: var(--button-primary-hover);
}

textarea.form-control {
  background-color: var(--panel-color-primary);
  color: var(--primary-text);
  border: 1px solid var(--header-footer-border);
}

tim-footer {
    padding-bottom: 50px;
}

.breadcrumb {
  background-color: var(--panel-color-primary);
  color: var(--primary-text);
  border-bottom: 1px solid var(--header-footer-border);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: var(--panel-color-header);
    border: none;
}

.mathp.inline,
.mathp.display {
    filter: invert();
}

.paragraphs .huomautus {
    background: var(--panel-color-primary);
    border: none;
    border-radius: 8px;
    padding: 15px;
}

a {
    transition: all 0.15s;
}
a:hover {
    color: var(--button-primary);
}

.areaexpand > .glyphicon, .areacollapse > .glyphicon {
    color: var(--button-primary);
}

.par.lightselect {
    padding: 0px;
    border-radius: 8px;
    background-color: var(--background)
}

.par.selected {
    background-color: var(--background)
}

div[role="banner"] {
    margin-top: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: var(--primary-text);
}

.doc-header {
    margin-top: 20px;
}

tr td:has(.correct) {
  text-align: center !important;
  background-color: var(--success);
}

tr td:has(.wrong) {
  text-align: center !important;
  background-color: var(--fail);
}

[class="col-lg-7 col-md-12 col-xs-12 col-sm-12"]:has(tim-site-header) {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
   background-color: var(--panel-color-primary);
   color: var(--primary-text);
}

.dropdown-menu > li > a {
    color: var(--primary-text);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: var(--primary-text);
    background-color: var(--panel-color-header)
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: var(--panel-color-primary);
    border: none;
}

.nav-tabs > li > a {
    border: none;
}

.paragraphs {
    margin-right: auto;
    margin-left: auto;
}

.paragraphs .csRunDiv {
    border-color: var(--panel-color-primary)
}

.paragraphs .csRunDiv h4 {
    background-color: var(--panel-color-header);
    border-radius: 8px 8px 0px 0px;
}

.paragraphs .parContent > h1, .paragraphs .parContent > div > h1 {
    margin-top: 1cm;
}

#menuTabs {
    background-color: var(--panel-color-primary);
    height: 100vh;
}

#menuTabs .tab-content {
    padding-left: 10px;
    padding-right: 10px;
}


ul li:has(.a2) {
    margin-top: 10px
}

ul li:has(.a3) {
    margin-top: 5px;
}

ul li .a3 {
    left: 1.5em !important;
}

cs-normal-editor textarea,
input {
    background-color: var(--panel-color-primary);
}

input {
    border: 1px solid #ffffff78;
    border-radius: 5px;
}

.paragraphs .stackOutput {
    margin: var(--paragraph-container-margin) !important;
}

.csRunSnippets,
.paragraphs .stem {
    margin-left: 20px !important;
}

.csRunDiv .csRunMenu {
    margin: var(--paragraph-container-margin);
    margin-bottom: 10px;
}

cs-normal-editor {
    padding-bottom: 10px;
}

.paragraphs table th, tim-table table th {
    background-color: var(--panel-color-header)
}

.paragraphs table th, tim-table table th {
    color: var(--primary-text)
}

.paragraphs .csRunDiv .csRunArea {
    padding: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.paragraphs .csRunDiv .csRunCode {
    padding-left: 0px
}

.material {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row.content-container {
    display: flex;
    justify-content: center;
}

/*
.container-fluid .row.content-container div {
    margin-left: 0;
}
*/

[class="col-lg-7 col-lg-offset-2 col-md-12 col-md-offset-0 col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0"]:has(.row.main-content) {
    margin-left: 0;
}

.row.hidden-print [role="banner"] {
    width: 100%;
}

[ng-if="!$ctrl.hide.header"] {
    display: flex;
    justify-content: center;
}

[ng-if="!$ctrl.hide.header"] div {
    margin-left: 0px;
}

tim-sidebar-menu .left-fixed-side {
    max-width: calc(33% - 15px);
}

.sortable-output {
    background-color: transparent;
}

.sortable-code.sortable-output {
    margin-left: 20px !important;
    margin-right: 40px;
}

.paragraphs .sortitem {
    width: 90%;
    color: var(--secondary-text)
}

.tab-content {
    border-bottom: transparent;
}

.nav-tabs {
    border-bottom: transparent;
}

.paragraphs .que.stack {
    background-color: var(--background)
}

/* highlight editor, keep as-is but make text color compatible */
.ace_line,
.ace_gutter-cell {
    color: var(--secondary-text);
}

/* TODO */
.readline,
.readsection {
    display: none
} 

.modal-body,
.modal-content {
    background-color: var(--panel-color-primary);
    padding: 15px;
}

#modal-body flex.cl {
    display: flex;
    gap: 5px;
}


@media (min-width: 1281px) {
  tim-site-header {
    width: 58.33333%;
    display: block;
  }
}